@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your App Name</title>

    <style>
        .centered-text {
            font-family: 'Geneva', Geneva;
            font-size: 48px; /* Adjust the size as needed */
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

</head>
<body>
    <div class="centered-text">
        Butler & Co.
    </div>
    <div>
        <!-- Button linking to the Login page -->
        <a href="/Login" class="btn btn-primary">Login Page</a>
    </div>


</body>
</html>
